/* shared styles */

* {

    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;

}

.section-title {
    font-size: 3rem;
    font-weight: 700;
}

.section-paragraph {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

.section-paragraph-2 {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}

.btn-1 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: #F948B2;
    padding: 21px 40px;
    border-radius: 3rem;
    border: none;
    text-transform: uppercase;
}

.btn-2 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: #4EC5F7;
    padding: 21px 40px;
    border-radius: 3rem;
    border: none;
    text-transform: uppercase;
}


.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo>h2 {
    font-size: 2.8rem;
    color: #0B0223;
    font-weight: 700;
}

.logo>img {
    height: 40px;
}


/* Nav */
nav {
    margin: 45px 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav>ul {
    display: flex;
    align-items: center;
    gap: 32px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

ul>div {
    padding: 18px 24px;
    background: rgba(11, 2, 35, 0.10);
}

ul p {
    margin: 0px;
    font-size: 18px;
    font-weight: 500;
}

ul i {
    font-size: 24px;
}

/* Banner */

.banner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.b-1 {
    background-image: url(../images/Group\ 14.png);
    display: flex;
    align-items: center;
    justify-content: center;
}

.b-1-c {
    padding: 9.25rem 16rem;
}

.b-1-c>h1 {
    font-size: 95px;
    font-weight: 800;
    color: #F948B2;
}

.b-1-c p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.b-1-c>h1,
.b-1-c>h3 {
    margin: 0px;
}

.b-1-p {
    display: flex;
    align-items: center;
    gap: 12px;
}

.b-1-p>img {
    width: 24px;
    height: 24px;
}

.b-2>img {
    margin-left: 6.2rem;
    width: 100%;
}

/* online game  */
.og-container {
    margin: 120px 0px;
}

.og-texts {
    text-align: center;
    margin: 0px auto;
}

#funny {
    color: #F948B2
}

.og-paragraph {
    width: 342px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.og-card-container {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.og-card>img {
    width: 21.375rem;
}

/* Play instantly container */

.pi-container {

    display: flex;
    justify-content: flex-end;
    gap: 240px;
    margin-bottom: 104px;
}

.pi-1 {
    width: 350px;
}

.pi-2 {
    position: relative;
    left: 45px;
}

#play {
    color: #F948B2;
}

#pi-image-1 {
    width: 634.833px;
    border-radius: 8px;
}

#pi-image-2 {
    width: 318.5px;
    border-radius: 8px;
    position: relative;
    top: 100px;
    right: 790px;
}

/* Game Section */

.games {
    padding: 120px 240px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 27px;
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.05) 13.13%, rgba(255, 66, 165, 0.05) 87.94%);

}

.games-item {
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 100px;
    background: #FFF;
    border: 1.5px solid transparent;
}

.games-item>h3 {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
    padding: 29px 20px 28px 0px;
}

.games-item>img {
    padding: 10px 0px 10px 10px;
}

.games-item:hover{

    border-color: #F948B2;
}
.games-item:hover>h3{

    color: #F948B2;
}


/* Footer */

footer {
    margin: 0px;
    padding: 120px 563px;
    background-color: #0B0223;
}

.menu>ul {
    display: flex;
    gap: 60px;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

.social {
    display: flex;
    font-size: 40px;
    gap: 40px;
    justify-content: center;
    margin: 56px 0px;
}

.social a {
    text-decoration: none;
}

.policy{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 28px ;
}

.copyright{
    display: flex;
    justify-content: center;
}